body{
	font-size: 12px;
	font-family: Arial;
	line-height: 2em;
}
a{
	text-decoration: none;
	color: #727272;
}
a:hover{
	text-decoration: underline;
}
.lll a:hover{
	text-decoration: none;
	color: #b9f605;
}
.white{
	color: white;
}
.yellow{
	color: #fdb306;
}
.a a:hover{
	color: #b9f605;
	text-decoration: none;
}
.b{
	font-size: 14px;
}