body{
	font-size: 12px;
	font-family: Arial;
	line-height: 2em;
}
a{
	text-decoration: none;
	color: #727272;
}
a:hover{
	text-decoration: underline;
}
.main-top{
	color: #b9f605;
	font-size: 14px;
	font-weight: bolder;
}
.white{
	color: white;
}
.lll a:hover{
	text-decoration: none;
	color: #b9f605;
}
.yellow{
	color: #fdb306;
}
.news{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #65a7d0;
	font-weight: bolder;
}
.ul{
	list-style-type: none;
}

#picture{
	background-image:url(images/bg.gif); 
}
#picture_1{
	background-image:url(images/foot_bg.gif); 
}
#picture_2{
	background-image:url(images/banner.jpg); 
}